* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

.container {
    width: 1000px;
    margin: 0 auto;
}

.title {
    font-size: 60px;
    font-weight: normal;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.nav {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin-bottom: 60px;
}

.nav li {
    display: inline;
}

.nav li a {
    font-size: 26px;
    padding: 30px;
}

.slide {
    margin-bottom: 100px;
}

.list {

}

.list li {
    display: flex;
    margin-bottom: 20px;
}

.list li .photo {
    width: 360px;
    margin-right: 40px;
}

.list li .text {
    width: 600px;
    color: #333;
    padding: 10px 0 10px 0;
}

.list li .text h3 {
    font-size: 30px;
    margin-bottom: 12px;
}

.list li .text p {
    font-size: 18px;
}

.copyright {
    padding: 50px 0 50px 0;
    text-align: center;
    border-top: 1px solid #ccc;
    margin-top: 60px;
}